.question-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  margin: 0 auto;
  max-width: 800px;
  min-height: 330px;
}
.score-section {
  cursor: pointer;
  padding: 20px;
}

.question-content {
  /* display: flex; */
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  border-top: 2px solid greenyellow;
  padding-top: 10px;
}

.answer-options {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 5%;
  align-items: center;

  border-radius: 15px;
}

.active {
  background-color: rgb(127, 95, 168);

  border: 20px 20px 20px 20px;

  padding: 20px;
  border-radius: 15px;
}

.wrong {
  background-color: rgba(159, 56, 56, 0.873);
  border-color: rebeccapurple;
  border: 20px 20px 20px 20px;

  padding: 20px;
  border-radius: 15px;
}
.single-option {
  cursor: pointer;
  padding: 20px;
}
h3 {
  font-size: larger;
  font-weight: 400;
}
