.score-section {
  cursor: pointer;
  padding: 20px;
}

.question-content {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  border-top: 2px solid rgb(122, 219, 43);
}
.question-container {
  height: 400px;
}
.btn {
  margin-top: 200px;
  margin-left: 40%;
  margin-bottom: 200px;
}

.answer-options {
  margin-bottom: 1rem;
  font-size: 1.2rem;

  background: lightblue;
  border-radius: 1rem;
}

.active {
  background-color: rgb(127, 95, 168);
  border-radius: 15px;
}

.wrong {
  background-color: rgba(159, 56, 56, 0.873);
  border-color: rebeccapurple;
  border-radius: 15px;
}
.single-option {
  cursor: pointer;
  padding: 20px;
}
h3 {
  font-size: larger;
  font-weight: 400;
  margin: 20px 20px 20px 20px;
}
