.button-items {
  border: none;
  width: 100px;
  height: 40px;
  text-align: center;
  align-items: center;
  background: transparent;
  outline: none;
  background-color: rgba(82, 216, 223, 0.675);

  color: rgba(145, 54, 136, 0.739);
  font-weight: bold;
  display: flex;
  margin: 2% auto;
  font-size: large;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  display: none;
}

.button-history {
  border: none;
  width: 100px;
  height: 40px;
  text-align: center;
  align-items: center;
  background: transparent;
  outline: none;
  background-color: rgba(82, 216, 223, 0.675);

  color: rgba(126, 45, 118, 0.597);
  font-size: large;
  display: flex;
  margin: 2% auto;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  display: none;
}

@media (min-width: 768px) {
  .button-items {
    font-size: 24px;
    min-width: 196px;
  }
}

.button-home {
  border: none;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 0px 10px;
  background: transparent;
  outline: none;
  background-color: rgb(213, 201, 185);
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 0px 10px;
}

button:disabled {
  display: none;
}
.start-page {
  list-style: none;
  background: linear-gradient(
    205deg,
    rgba(46, 134, 233, 0.8),
    rgba(184, 76, 196, 0.5)
  );
  border-radius: 20px;
  max-width: 300px;
  margin: 2% auto;
  padding: 40px;
  align-items: center;
}
h1 {
  margin: 2% auto;
}
