h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(152, 59, 150, 0.794);
  margin: 2% auto;
  padding: 30px;
  text-align: center;
}
table {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}
tbody {
  border-bottom: 1px solid greenyellow;
  color: rgb(119, 54, 54);
  text-align: center;
}
tr {
  border-bottom: 1px solid greenyellow;
  color: rgb(45, 25, 9);
  text-align: center;
}
td {
  padding: 10px;
  border: 1px solid greenyellow;
}

thead {
  border-top: 2px solid greenyellow;
  border-bottom: 2px solid greenyellow;
}
th {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: rgb(75, 27, 27);
  border: 1px solid greenyellow;
}

.active {
  background-color: rgba(158, 70, 164, 0.804);
  border: 20px 20px 20px 20px;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.button-home {
  text-align: center;
  margin: 2% auto;
  border: none;
  width: 100px;
  height: 40px;
  justify-content: center;
  border-radius: 0px 10px;
  background: transparent;
  outline: none;
  background-color: rgba(82, 216, 223, 0.675);
  margin-left: 40%;
  font-size: large;
  display: flex;
  align-items: center;
}

button:hover {
  cursor: pointer;
  border: 2px solid #fff;
}

button:disabled {
  display: none;
}
